* {
  font-size: 24px;
}


table {
  border: 0px solid;
}

th, td {
  border: 1px solid;
}



table.cards {
  height: 350px;
}

.cards td {
  width: 250px;
  text-align: center;
}

.cards {
  margin-left: auto;
  margin-right: auto;
}

input.button {
    margin: 0;
    position: relative;
    left: 80%;
    width: 200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}